# Keep environment variables out of version control
.env
.env.local
.env.production
/generated/prisma
node_modules/
.DS_Store
prisma/migrations/
npm-debug.log
/src/generated/prisma
*.log
.vscode/
.idea/
yarn-error.log